.art-title {
  font-family: 'Poppins';
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 40px;
  color: #fff;
  margin-top: 0px;
}

.title-container {
  border-radius: 10px;
  margin-top: 10px;
  z-index: 3;
}

@media (min-width: 300px) {
  .art-title {
    font-size: 60px;
  }
}

@media (min-width: 400px) {
  .art-title {
    font-size: 80px;
  }
}

@media (min-width: 576px) {
  .art-title {
    font-size: 100px;
  }
}

@media (min-width: 767px) {
  .art-title {
    font-size: 130px;
  }
}

@media (min-width: 992px) {
  .art-title {
    font-size: 155px;
  }
}

@media (min-width: 1200px) {
  .art-title {
    font-size: 190px;
  }
}