.buy-container{
  background-color: #fff;
  z-index: 3;
}

.button-container{
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-text {
  font-family: 'Poppins';
  margin-bottom: 0px;
}